// stylelint-disable font-family-name-quotes

@font-face {
    font-family: 'Roboto';
    src: url('#{$pathFonts}/roboto-regular.woff2') format('woff2'),
        url('#{$pathFonts}/roboto-regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$pathFonts}/roboto-medium.woff2') format('woff2'),
        url('#{$pathFonts}/roboto-medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$pathFonts}/roboto-bold.woff2') format('woff2'),
        url('#{$pathFonts}/roboto-bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
}
